@font-face {
  font-family: "Shrikhand";
  src: url(../police/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../police/Roboto-Regular.ttf);
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 0;
  font-size: 2.5em;
}

header {
  text-align: center;
  margin: 4%;
}

.headerbox {
  display: flex;
  text-align: start;
}
.headerbox_icone {
  align-self: center;
  width: 25%;
  font-size: 2em;
}
.headerbox_logo {
  width: 50%;
}
.headerbox_logo_img {
  object-fit: contain;
  width: 100%;
}

.menusection {
  position: relative;
}
.menusection_image {
  object-fit: contain;
  width: 100%;
}
.menusection_intituleresto {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 96%;
  background-color: #f6f6f6;
  border-radius: 70px 70px 0px 0px;
  align-items: center;
  font-size: 2em;
  font-family: "Shrikhand";
  padding: 2%;
  justify-content: space-between;
}

form {
  background-color: #f6f6f6;
  font-family: "Roboto";
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 2%;
  padding-left: 2%;
}
form .accueil {
  text-align: center;
}
form .fieldsetmenu {
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 2.5em;
}
form .fieldsetmenu_legend {
  border-bottom: solid 6px #99E2D0;
  width: 75px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
form .fieldsetmenu_box {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2%;
  padding-right: 2%;
}
form .fieldsetmenu_flexbox {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 30px;
}
form .fieldsetmenu_flexbox_prix {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
form .fieldsetmenu_flexbox_anim {
  padding: 5.5%;
  border-radius: 0px 40px 40px 0px;
  background-color: #99E2D0;
  color: #fff;
}
form .fieldsetmenu_flexbox_anim input {
  display: none;
}
form .div {
  text-align: center;
}
form .div .bouton {
  padding: 15px 30px;
  color: #fff;
  background-color: #9356DC;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 0px 10px gray;
  border: none;
  font-weight: bold;
  margin-top: 25px;
}

footer {
  background-color: #000000;
  font-family: "Roboto";
  padding: 2%;
  color: #fff;
}
footer a {
  color: #fff;
}
footer i {
  margin-right: 10px;
}
footer .fa-utensils {
  padding-left: 2px;
  padding-right: 4px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}

/*Debut css "index.html"*/
input {
  border: none;
  background-color: #f6f6f6;
}

h1 {
  margin-top: 16px;
}

#recherche {
  text-align: center;
}

.form_accueil {
  padding: 0;
}
.form_accueil #champ_de_recherche {
  width: 96%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #d0d0d0;
}
.form_accueil #champ_de_recherche input {
  background-color: #d0d0d0;
}
.form_accueil #champ_de_recherche i {
  margin-right: 20px;
  margin-left: 20px;
}
.form_accueil div {
  width: 96%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #f6f6f6;
}

#presentation {
  width: 96%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 2%;
  padding-left: 2%;
  font-family: "Roboto";
}
#presentation ul {
  list-style: none;
  padding: 25px;
  margin: 0;
  width: 96%;
}
#presentation ul li {
  display: block;
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-right: 15px;
  font-weight: bold;
}
#presentation ul li strong {
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ff79da;
  color: #fff;
  margin-right: 15px;
  margin-left: -35px;
  font-weight: normal;
}
#presentation ul li i {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
