@font-face {
  font-family: "Shrikhand";
  src: url(../police/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../police/Roboto-Regular.ttf);
}
body {
  margin: 0;
  border: solid 1px black;
}

@media all and (min-width: 768px) {
  #body_carte {
    background-color: #e4d5f6;
  }
}
@media all and (min-width: 768px) {
  #main_carte {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
a {
  text-decoration: none;
  color: black;
}
@media all and (min-width: 768px) {
  a {
    width: 22%;
  }
}

h2 {
  margin: 0;
}

header {
  text-align: center;
  margin: 4%;
}
@media all and (min-width: 768px) {
  header {
    margin: 2%;
  }
}
header .header_accueil {
  width: 92%;
}
header .header_accueil_logo {
  width: 100%;
  object-fit: contain;
}
header .header_accueil_logo_img {
  object-fit: contain;
  width: 50%;
}
@media all and (min-width: 768px) {
  header .header_accueil_logo_img {
    width: 40%;
  }
}

.headerbox {
  display: flex;
  text-align: start;
}
.headerbox_icone {
  align-self: center;
  font-size: 2em;
}
@media all and (max-width: 768px) {
  .headerbox_icone {
    font-size: 1em;
  }
}
.headerbox_logo {
  width: 100%;
  text-align: center;
}
.headerbox_logo_img {
  object-fit: contain;
  width: 40%;
}
@media all and (max-width: 768px) {
  .headerbox_logo_img {
    width: 50%;
  }
}

.menusection {
  position: relative;
}
.menusection_image {
  object-fit: contain;
  width: 100%;
}
@media all and (min-width: 768px) {
  .menusection_image {
    border-radius: 40px 40px 0px 0px;
  }
}
.menusection_intituleresto {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 92%;
  padding-top: 6%;
  padding-right: 4%;
  padding-left: 4%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 1.5em;
}
@media all and (max-width: 500px) {
  .menusection_intituleresto {
    font-size: 1em;
  }
}
.menusection_intituleresto_titre {
  width: 92%;
}

form {
  background-color: #f6f6f6;
  font-family: "Roboto";
  width: 92%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 4%;
  padding-left: 4%;
}
@media all and (max-width: 500px) {
  form {
    font-size: 0.85em;
  }
}
@media all and (min-width: 768px) {
  form {
    border-radius: 0px 0px 40px 40px;
    width: 92%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 4%;
    padding-left: 4%;
  }
}
form label {
  cursor: pointer;
}
form .accueil {
  text-align: center;
}
form .flexbox_intitulechoix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
}
form .flexbox_intitulechoix:hover + .fieldsetmenu_flexbox_anim {
  transition: width 800ms ease-in-out, opacity 100ms 150ms;
  width: 20%;
  opacity: 1;
}
form .flexbox_intitulechoix:hover + .fieldsetmenu_flexbox_anim i {
  transform: rotate(1turn);
  transition: transform 700ms ease-in-out 100ms;
}
form .fieldsetmenu {
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
}
form .fieldsetmenu_legend {
  border-bottom: solid 3px #99E2D0;
  width: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 0;
  margin-bottom: 30px;
}
form .fieldsetmenu_box1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
}
form .fieldsetmenu_box2 {
  padding-left: 4%;
  padding-right: 2%;
}
form .fieldsetmenu_flexbox {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px #cccccc;
  transform-origin: 50%, 0%;
  transform: translateY(0);
  transition: transform;
}
form .fieldsetmenu_flexbox:hover {
  box-shadow: 0px 0px 10px #4d4d4d;
  text-decoration: none;
}
form .fieldsetmenu_flexbox_prix {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
form .fieldsetmenu_flexbox_anim {
  display: flex;
  justify-content: center;
  margin-left: 2%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  color: #fff;
  opacity: 0;
  width: 0%;
  transition: width 600ms;
}
form .fieldsetmenu_flexbox_anim i {
  transform: rotate(0turn);
}
form .fieldsetmenu_flexbox_anim input {
  display: none;
}
form .choix1 {
  animation-name: apparition_progressive1;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-delay: 50ms;
  animation-fill-mode: backwards;
  transform-origin: 50% 0%;
}
@keyframes apparition_progressive1 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
form .choix2 {
  animation-name: apparition_progressive1;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
  transform-origin: 50% 0%;
}
@keyframes apparition_progressive1 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
form .choix3 {
  animation-name: apparition_progressive1;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
  transform-origin: 50% 0%;
}
@keyframes apparition_progressive1 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
form .choix4 {
  animation-name: apparition_progressive1;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
  transform-origin: 50% 0%;
}
@keyframes apparition_progressive1 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
form .div_bouton {
  text-align: center;
}
form .div_bouton .bouton {
  padding: 15px 30px;
  color: #fff;
  background-color: #d20098;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  margin-top: 25px;
  width: 225px;
  box-shadow: 0px 0px 10px #cccccc;
  transition: all 400ms;
}
form .div_bouton .bouton:hover {
  opacity: 80%;
  box-shadow: 0px 0px 10px #4d4d4d;
}

footer {
  background-color: #000000;
  font-family: "Roboto";
  padding: 4%;
  color: #fff;
}
@media all and (max-width: 500px) {
  footer {
    font-size: 0.85em;
  }
}
@media all and (min-width: 768px) {
  footer {
    text-align: center;
    padding: 2%;
  }
}
footer a {
  color: #fff;
}
footer i {
  margin-right: 10px;
}
footer .fa-utensils {
  padding-left: 2px;
  padding-right: 4px;
}
footer ul {
  padding: 0;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: 0;
  }
}
footer li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
}
@media all and (min-width: 768px) {
  footer li {
    margin: 0;
  }
}

/*Debut css "index.html"*/
input {
  border: none;
  background-color: #f6f6f6;
}

h1 {
  margin-top: 16px;
}

#recherche {
  text-align: center;
}

.form_accueil {
  padding: 0;
  width: 100%;
}
.form_accueil #champ_de_recherche {
  width: 96%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #d0d0d0;
}
.form_accueil #champ_de_recherche input {
  background-color: #d0d0d0;
  font-size: 1em;
}
.form_accueil #champ_de_recherche input:focus {
  outline: none;
}
.form_accueil #champ_de_recherche i {
  margin-right: 10px;
  margin-left: 50px;
}
.form_accueil div {
  width: 92%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 4%;
  padding-left: 4%;
  background-color: #f6f6f6;
}

#presentation {
  width: 92%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 4%;
  padding-left: 4%;
  font-family: "Roboto";
}
@media all and (min-width: 768px) {
  #presentation {
    width: 92%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 4%;
    padding-left: 4%;
  }
}
@media all and (min-width: 768px) {
  #presentation h2 {
    text-align: center;
    margin: auto;
  }
}
#presentation ul {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 2%;
  padding-left: 2%;
  width: 96%;
}
@media all and (min-width: 768px) {
  #presentation ul {
    display: flex;
    justify-content: space-around;
  }
}
#presentation ul li {
  display: block;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px #cccccc;
}
@media all and (min-width: 768px) {
  #presentation ul li {
    margin-bottom: 0;
    width: 20%;
  }
}
#presentation ul li:hover {
  background-color: #e4d5f6;
  box-shadow: 0px 0px 10px #4d4d4d;
}
#presentation ul li strong {
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #9356DC;
  color: #fff;
  margin-right: 15px;
  margin-left: -32px;
  font-weight: normal;
}
#presentation ul li i {
  margin-right: 15px;
}

.othercolor {
  background-color: #9356DC;
}

#restaurantgeneral {
  width: 92%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 4%;
  padding-left: 4%;
  font-family: "Roboto";
  background-color: #f6f6f6;
}
@media all and (min-width: 768px) {
  #restaurantgeneral {
    width: 92%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 4%;
    padding-left: 4%;
  }
}
@media all and (min-width: 768px) {
  #restaurantgeneral h2 {
    text-align: center;
    margin: auto;
  }
}
#restaurantgeneral #boxarticle {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media all and (min-width: 768px) {
  #restaurantgeneral #boxarticle {
    display: flex;
    justify-content: space-between;
  }
}
#restaurantgeneral .carte_restaurant {
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 0px 0px 10px #cccccc;
}
#restaurantgeneral .carte_restaurant .imgresto {
  position: relative;
}
@media all and (min-width: 768px) {
  #restaurantgeneral .carte_restaurant .imgresto {
    height: 250px;
  }
}
#restaurantgeneral .carte_restaurant .imgresto_photo {
  object-fit: contain;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
@media all and (min-width: 768px) {
  #restaurantgeneral .carte_restaurant .imgresto_photo {
    height: 250px;
    object-fit: cover;
  }
}
#restaurantgeneral .carte_restaurant .imgresto_encadre {
  position: absolute;
  right: 0;
  top: 0;
  color: #278870;
  background-color: #99E2D0;
  margin: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}
#restaurantgeneral .carte_restaurant .intituleart {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}
@media all and (min-width: 768px) {
  #restaurantgeneral .carte_restaurant .intituleart {
    padding-right: 4%;
    padding-left: 4%;
    font-size: 0.7em;
  }
}
#restaurantgeneral .carte_restaurant .intituleart .nom_resto {
  width: 92%;
}
#restaurantgeneral .carte_restaurant .intituleart h3 {
  margin: 0;
}
#restaurantgeneral .carte_restaurant .intituleart p {
  margin: 0;
}

.heart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
@media all and (min-width: 768px) {
  .heart {
    margin-right: 25px;
  }
}
.heart .fas {
  position: absolute;
  left: 0;
  opacity: 0;
  color: #d20098;
  font-size: 1em;
}
.heart .fas:hover {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
  cursor: pointer;
}
.heart .far {
  position: absolute;
  left: 0;
  color: black;
}
.heart .far:hover {
  color: #d20098;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
