@font-face{
    font-family: "Shrikhand";
    src: url(../police/Shrikhand-Regular.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(../police/Roboto-Regular.ttf);
  }

$fonttitre: "Shrikhand";
$fonttexte: "Roboto";
$colorbackground: #f6f6f6; 
$colorprimaire:#9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;
$paddingmain: 4%;

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}

.header{    
    position: relative;
    text-align: center;
    margin: 4%;

    &_icone{
        position: absolute;
        margin-top: 1%;
        padding-left: 1%;
    }

    i{
        font-size: 3em;
    }
} 

.menusection{
    position: relative;

    &_image{
        object-fit: contain;
        width: 100%;
    }

    &_intituleresto{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 92%;
        background-color: $colorbackground;
        border-radius: 70px 70px 0px 0px;
        align-items: center;
        font-family: $fonttitre;
        font-size: 4em;
        padding: $paddingmain;
        justify-content: space-between;     
        
    }
}

form{
    background-color: $colorbackground;
    font-family: $fonttexte;
    padding: $paddingmain;

}

.fieldsetmenu{
    border: none;  
    padding-left: 0;
    padding-right: 0;
    font-size: 2.5em;

    &_legend{
        border-bottom: solid 6px $colortertiaire;
        width: 75px; 
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 30px;
        
    }

    &_flexbox{
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        padding: $paddingmain;
        align-items: flex-end;
        border-radius: 40px;
        margin-bottom: 30px;
    }
}

