@font-face{
    font-family: "Shrikhand";
    src: url(../police/Shrikhand-Regular.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(../police/Roboto-Regular.ttf);
  }

$fonttitre: "Shrikhand";
$fonttexte: "Roboto";
$colorprimaire:#9356DC;
$colorsecondaire:#ff79da;
$colortertiaire:#99E2D0;
$colorimgcadre: darken($colortertiaire,40%);
$colorbouton: darken($colorsecondaire, 32.5%);
$colorbackgroundmain: #f6f6f6;
$colorbackgroundchamps: darken($colorbackgroundmain, 15%);
$colorbackgroundchoix:#fff;
$colorbackgroundfooter: #000000; 

@mixin dimension_smallscreen{
        width: 92%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 4%;
        padding-left: 4%;
}

@mixin dimension_desktop{
    width: 92%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 4%;
    padding-left: 4%;
}


@mixin box-shadow{
    box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
}

@mixin box-shadow_hover{
    box-shadow: 0px 0px 10px hsl(0, 0%, 30%);
}


@mixin loader_spinner{
    animation-name: loader_spinner;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;   
    @keyframes loader_spinner{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    } 
}

@mixin apparition_progressive{
    @keyframes apparition_progressive{
        0%{
            transform: scaleY(0);
            opacity: 0;                   
        }
        100%{
           transform: scaleY(1);
           opacity: 1;
        }   
    }
}


body{
    margin: 0;
    position: relative;
    
}

a{
    text-decoration: none;
    color: black;
    @media all and (min-width: 768px){
        width: 22%;
    }
}

h2{
    margin: 0;
}

@media all and (min-width: 768px){
    #body_carte{
    background-color: lighten($colorprimaire, 30%);
    }
}

@media all and (min-width: 768px){
    #main_carte{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/** loader spinner **/

#loader{
    position: absolute;
    margin-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: loader_transition2;
    animation-duration: 0ms;
    animation-delay: 3000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    @keyframes loader_transition2{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }    
    @media all and (max-width: 768px){
        margin-top: 25%;
    }

    .loader{
        display: flex;
        border-radius: 50%; 
        justify-content: center;
    }


    .un{
        width: 200px;
        height: 200px;
        border-top: solid 15px $colorprimaire;
        @include loader_spinner;
    }
        

    .deux{
        width: 160px;
        height: 160px;
        border-top: solid 15px $colorsecondaire;
        align-self: center;
        @include loader_spinner;
    }

    .trois{
        width: 120px;
        height: 120px;
        border-top: solid 15px $colortertiaire;
        align-self: center;
        @include loader_spinner;
    }
}


/** div regroupant toute la page accueil **/

#page_entiere{
    position: absolute;
    animation-name: loader_transition1;
    animation-duration: 0ms;
    animation-delay: 3000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    @keyframes loader_transition1{
        from{
            opacity: 0;
        }
        to{
           opacity: 1;
        }
    }
}


/** Header de l'accueil **/

header{
    text-align: center;   
    margin: 4%;
    @media all and (min-width: 768px){
        margin: 2%;
    }    

    .header_accueil{
        width: 92%;

        &_logo{
            width: 100%;
            object-fit: contain;

            &_img{
                object-fit: contain;
                width: 50%;
                @media all and (min-width: 768px){
                    width: 40%;
                }
            }
        }
    }
}   

/** Header des cartes**/

.headerbox{
    display: flex;
    text-align: start;

    &_icone{
        align-self: center;
        font-size: 2em;
        @media all and (max-width: 768px){
            font-size: 1em;
        }
    }

    &_logo{
        width: 100%;
        text-align: center;

        &_img{
            object-fit: contain;
            width: 40%;
            @media all and (max-width: 768px){
                width: 50%;
            }
        }
    }
}
    



/** section correspondant à l'image et au titre des cartes avec le coeur **/

.menusection{
    position: relative;

    &_image{
        object-fit: contain;
        width: 100%;
        @media all and (min-width: 768px){
            border-radius: 40px 40px 0px 0px;
        }    
    }

    &_intituleresto{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 92%;
        padding-top: 6%;
        padding-right: 4%;
        padding-left: 4%;
        background-color: $colorbackgroundmain;
        border-radius: 40px 40px 0px 0px;
        align-items: center;
        font-family: $fonttitre;
        font-size: 1.5em;
        @media all and (max-width: 500px){
            font-size: 1em;
        } 
        
        &_titre{
            width: 92%;
        }    
    }
}

/** formulaire regroupant tout le menu des cartes **/

form{
    background-color: $colorbackgroundmain;
    font-family: $fonttexte;
    @include dimension_smallscreen();
    @media all and (max-width: 500px){
        font-size: 0.85em;
    }
    @media all and (min-width: 768px){
        border-radius: 0px 0px 40px 40px;
        @include dimension_desktop;
    } 

    label{
        cursor: pointer;
    }

    .accueil{
        text-align: center;
    }

    .flexbox_intitulechoix{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 25px; 
        &:hover + .fieldsetmenu_flexbox_anim{
            transition: width 800ms ease-in-out , opacity 100ms 150ms;
            width: 20%;
            opacity: 1;
            i{
                transform: rotate(1turn);
                transition: transform 700ms ease-in-out 100ms;
            }        
        }
    }

    .fieldsetmenu{
        border: none;  
        padding-left: 0;
        padding-right: 0;
        font-size: 1em;   

        &_legend{
            border-bottom: solid 3px $colortertiaire;
            width: 25px; 
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 5px;
            padding-left: 0;
            margin-bottom: 30px;
        
        }

        &_box1{   
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
            padding-left: 2%;
        }

        &_box2{
        padding-left: 4%;
        padding-right: 2%;
        }



        &_flexbox{
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            background-color: $colorbackgroundchoix;
            align-items: center;
            border-radius: 20px;
            margin-bottom: 30px;
            @include box-shadow;
            transform-origin: 50% 0%;
            transform: translateY(0);
            transition: transform; 
            
            &:hover{
                @include box-shadow_hover;
                text-decoration: none;
            }

            &_prix{
                font-weight: bold;
                margin-bottom: 0;
                margin-right: 0;
                margin-left: 0;
            }

            &_anim{
                display: flex;
                justify-content: center;
                margin-left: 2%;
                padding-top: 30px;
                padding-bottom: 30px;
                border-radius: 0px 20px 20px 0px;
                background-color: $colortertiaire;
                color: #fff;
                opacity: 0;
                width: 0%;
                transition: width 600ms; 

                i{
                    transform: rotate(0turn);
                }

                input{
                    display: none;
                }

            }
        }
    }

    .choix1{
        animation-name: apparition_progressive;
        animation-duration: 750ms;
        animation-timing-function: ease-in-out;
        animation-delay: 50ms;
        animation-fill-mode: backwards;
        transform-origin: 50% 0%;
        @include apparition_progressive;       
    }  
        

    .choix2{
        animation-name: apparition_progressive;
        animation-duration: 750ms;
        animation-timing-function: ease-in-out;
        animation-delay: 100ms;
        animation-fill-mode: backwards;
        transform-origin: 50% 0%;
        @include apparition_progressive;
        
    }

    .choix3{
        animation-name: apparition_progressive;
        animation-duration: 750ms;
        animation-timing-function: ease-in-out;
        animation-delay: 200ms;
        animation-fill-mode: backwards;
        transform-origin: 50% 0%;
        @include apparition_progressive;
    }

    .choix4{
        animation-name: apparition_progressive;
        animation-duration: 750ms;
        animation-timing-function: ease-in-out;
        animation-delay: 300ms;
        animation-fill-mode: backwards;
        transform-origin: 50% 0%;
        @include apparition_progressive; 
    }
    
    .div_bouton{
        text-align: center;

        .bouton{
            padding: 15px 30px;                        
            color: #fff;
            background-color: $colorbouton;
            cursor: pointer;
            border-radius: 40px;   
            border: none;
            font-weight: bold;
            margin-top: 25px;
            width: 225px;
            @include box-shadow;
            transition: all 400ms;
            &:hover{
                opacity: 80%;
                @include box-shadow_hover;
            }
        }   
    }
}

/** footer identique au carte et à l'accueil **/

footer{
    background-color: #000000;
    font-family: $fonttexte;
    padding: 4%;
    color: #fff;

    @media all and (max-width: 500px){
        font-size: 0.85em;
    }

    @media all and (min-width: 768px){
        text-align: center;
        padding: 2%;
    }
    
    a{
        color: #fff;
    }

    i{
        margin-right: 10px;
    }

    .fa-utensils{
        padding-left: 2px;
        padding-right: 4px;
    }

    ul{
        padding: 0;
        @media all and (min-width: 768px){
            display: flex;
            justify-content: space-around;
            padding: 2%;
            margin: 0;
        } 
    }

    li{
        list-style: none;
        cursor: pointer;
        margin-bottom: 10px;
        @media all and (min-width: 768px){
            margin: 0;
        }
    }
}

/*Debut css "index.html"*/


h1{
    margin-top: 16px;
}

#recherche{
    text-align: center;
}

/** Champs de recherche de l'accueil **/

.form_accueil{
    padding: 0;
    width: 100%;

    #champ_de_recherche{
        width: 96%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 2%;
        padding-left: 2%;
        background-color: $colorbackgroundchamps;

        input{
            background-color: $colorbackgroundchamps;
            font-size: 1em;
            border: none;
            &:focus{
                outline: none;
            }
        }

        i{
            margin-right: 10px;
            margin-left: 50px;
        }
    }

    div{
        @include dimension_smallscreen;
        background-color: $colorbackgroundmain;
    }
}

/** Encadré de fonctionnement du site **/

#presentation{
    @include dimension_smallscreen;
    font-family: $fonttexte;
    @media all and (min-width: 768px){
        @include dimension_desktop;
    }

    h2{
        @media all and (min-width: 768px){
        text-align: center;
        margin: auto;
    }
    }

    ul{
        list-style: none;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 2%;
        padding-left: 2%;
        width: 96%;
        @media all and (min-width: 768px){
            display: flex;
            justify-content: space-around;
        }

        li{
            display: block;
            padding: 25px;
            border-radius: 25px;
            margin-bottom: 25px;
            font-weight: bold;
            cursor: pointer;
            background-color: $colorbackgroundmain;
            @include box-shadow;
            @media all and(min-width: 768px){
                margin-bottom: 0;
                width: 20%;
            }
            &:hover{
                background-color: lighten($colorprimaire, 30%);
                @include box-shadow_hover;
            }
            

            strong{
                border-radius: 50%;
                padding-left: 5px;
                padding-right: 5px;
                background-color: $colorprimaire;
                color: #fff;
                margin-right: 15px;
                margin-left: -32px;
                font-weight: normal;
            }

            i{
                margin-right: 15px;
            }
        }
    }
}

/** Encadré "Restaurants du site" **/

#restaurantgeneral{
    @include dimension_smallscreen;
    font-family: $fonttexte;
    background-color: $colorbackgroundmain;
    @media all and (min-width: 768px){
        @include dimension_desktop;
    }
    h2{
        @media all and (min-width: 768px){
        text-align: center;
        margin: auto;
    }
    }

    #boxarticle{
        margin-top: 25px;
        margin-bottom: 25px;
        @media all and (min-width: 768px){
            display: flex;
            justify-content: space-between;
        }
    }

    .carte_restaurant{
        width: 100%;
        border-radius: 20px;
        margin-top: 25px;
        @include box-shadow;

        .imgresto{
            position: relative;
            @media all and (min-width: 768px){
                height: 250px;
            }
        
            &_photo{ 
                object-fit: contain;
                width: 100%;
                border-radius: 20px 20px 0px 0px;
                @media all and (min-width: 768px){
                    height: 250px;
                    object-fit: cover;
                }
            }
        
            &_encadre{
                position: absolute;
                right: 0;
                top: 0;
                color: $colorimgcadre;
                background-color: $colortertiaire;
                margin: 15px;
                padding: 5px 15px;
                border-radius: 5px;
                font-weight: bold;
            }
        }

        .intituleart{
            display: flex;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $colorbackgroundchoix;
            border-radius: 0px 0px 20px 20px;
            @media all and (min-width: 768px){
                padding-right: 4%;
                padding-left: 4%;
                font-size: 0.7em;
            }

            .nom_resto{
                width: 92%;
            }

            h3{
                margin: 0;
            }

            p{
                margin: 0;
            }

        }
    }
}

/** animation du coeur **/

.heart{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    @media all and (min-width: 768px){
        margin-right: 25px;
    }

    

    & .fas{
        position: absolute;
        left: 0;
        opacity: 0;
        color: $colorbouton;
        font-size: 1em;
        &:hover{
            transition: opacity 500ms ease-in-out;
            opacity: 1;
            cursor: pointer;
        }
    }

    & .far{
        position: absolute;
        left: 0;
        color: black;
        &:hover{
            color: $colorbouton;
            cursor: pointer;
        }
    }
}



 


