@font-face{
    font-family: "Shrikhand";
    src: url(../police/Shrikhand-Regular.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(../police/Roboto-Regular.ttf);
  }

$fonttitre: "Shrikhand";
$fonttexte: "Roboto";
$colorprimaire:#9356DC;
$colorsecondaire:#ff79da;
$colortertiaire:#99E2D0;
$colorimgcadre: darken($colortertiaire,40%);
$colorbackgroundmain: #f6f6f6;
$colorbackgroundchamps: darken($colorbackgroundmain, 15%);
$colorbackgroundchoix:#fff;
$colorbackgroundfooter: #000000; 
$paddingmain: 2%;


@mixin dimension_accueil{
        width: 92%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 4%;
        padding-left: 4%;
}


body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    margin: 0;
}

header{    
    text-align: center;
    margin: 4%;    

    .header_accueil{
        width: 92%;

        &_logo{
            width: 100%;
            object-fit: contain;
            border: solid 1px red;

            &_img{
                object-fit: contain;
                width: 60%;
            }
        }

    }
    
    .headerbox{
        display: flex;
        text-align: start;
    
        &_icone{
            align-self: center;
            width: 25%;
            font-size: 2em;
        }

        &_logo{
            width: 50%;

            &_img{
                object-fit: contain;
                width: 100%;
            }
        }
    }
}



.menusection{
    position: relative;

    &_image{
        object-fit: contain;
        width: 100%;
    }

    &_intituleresto{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 96%;
        background-color: $colorbackgroundmain;
        border-radius: 70px 70px 0px 0px;
        align-items: center;
        font-size: 2em;
        font-family: $fonttitre;
        padding: 2%;
        justify-content: space-between;     
        
    }
}

form{
    background-color: $colorbackgroundmain;
    font-family: $fonttexte;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 2%;
    padding-left: 2%;

    .accueil{
        text-align: center;
    }

    .fieldsetmenu{
        border: none;  
        padding-left: 0;
        padding-right: 0;
        font-size: 2.5em;

        &_legend{
            border-bottom: solid 6px $colortertiaire;
            width: 75px; 
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 30px;
        
        }

        &_box{
            padding-top: 2.5%;
            padding-bottom: 2.5%;
            padding-left: 2%;
            padding-right: 2%;
        }



        &_flexbox{
            display: flex;
            background-color: $colorbackgroundchoix;
            justify-content: space-between;
            align-items: center;
            border-radius: 40px;
            margin-bottom: 30px;

            &_prix{
                font-weight: bold;
                margin-top: 50px;
                margin-bottom: 0;
                margin-right: 0;
                margin-left: 0;
            }

            &_anim{
                padding: 5.5%;
                border-radius: 0px 40px 40px 0px;
                background-color: $colortertiaire;
                color: #fff;

                input{
                    display: none;
                }
            }
        }

    }

    .div{
        text-align: center;

        .bouton{
            padding: 15px 30px;                        
            color: #fff;
            background-color: $colorprimaire;
            cursor: pointer;
            border-radius: 40px;
            box-shadow: 0px 0px 10px hsl(0, 0%, 50%);
            border: none;
            font-weight: bold;
            margin-top: 25px;
            width: 225px;
        }   
    }
}

footer{
    background-color: #000000;
    font-family: $fonttexte;
    padding: 4%;
    color: #fff;
    
    a{
        color: #fff;
    }

    i{
        margin-right: 10px;
    }

    .fa-utensils{
        padding-left: 2px;
        padding-right: 4px;
    }

    ul{
        padding: 0;
    }

    li{
        list-style: none;
        margin-bottom: 10px;
    }
}

/*Debut css "index.html"*/

input{
    border: none;
    background-color: $colorbackgroundmain;
}
h1{
    margin-top: 16px;
}

#recherche{
    text-align: center;
}

.form_accueil{
    padding: 0;

    #champ_de_recherche{
        width: 96%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 2%;
        padding-left: 2%;
        background-color: $colorbackgroundchamps;

        input{
            background-color: $colorbackgroundchamps;
        }

        i{
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    div{
        @include dimension_accueil;
        background-color: $colorbackgroundmain;
    }
}

#presentation{
    @include dimension_accueil;
    font-family: $fonttexte;

    ul{
        list-style: none;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 2%;
        padding-left: 2%;
        margin: 0;
        width: 96%;

        li{
            display: block;
            background-color: $colorbackgroundmain;
            padding: 25px;
            border-radius: 25px;
            margin-bottom: 25px;
            font-weight: bold;
            

            strong{
                border-radius: 50%;
                padding-left: 5px;
                padding-right: 5px;
                background-color: $colorsecondaire;
                color: #fff;
                margin-right: 15px;
                margin-left: -35px;
                font-weight: normal;
            }

            i{
                margin-right: 15px;
            }
        }
    }
    

}

#restaurantgeneral{
    @include dimension_accueil;
    font-family: $fonttexte;
    background-color: $colorbackgroundmain;

    #boxarticle{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .carte_restaurant{
        width: 100%;
        border-radius: 20px;
        margin-top: 25px;

        .imgresto{
            position: relative;
        
            &_photo{ 
                object-fit: contain;
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
        
            &_encadre{
                position: absolute;
                right: 0;
                top: 0;
                color: $colorimgcadre;
                background-color: $colortertiaire;
                margin: 15px;
                padding: 5px 15px;
                border-radius: 5px;
                font-weight: bold;
            }
        }

        .intituleart{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-right: 20px;
            padding-left: 20px;
            background-color: $colorbackgroundchoix;
            border-radius: 0px 0px 20px 20px;

            h3{
                margin: 0;
            }

            p{
                margin: 0;
            }

            i{
                font-size: 2em;
            }
        }
    }
}
